@define-color background-darker rgba(30, 31, 41, 230);
@define-color background #282a36;
@define-color selection #44475a;
@define-color foreground #f8f8f2;
@define-color comment #6272a4;
@define-color cyan #8be9fd;
@define-color green #50fa7b;
@define-color orange #ffb86c;
@define-color pink #ff79c6;
@define-color purple #bd93f9;
@define-color red #ff5555;
@define-color yellow #f1fa8c;

window#waybar {
  background: @background;
  color: @foreground;
  border-bottom: 2px solid @selection;
  font-family: "MesloLGS Nerd Font";
  font-size: 16px;
}

button {
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
}

#workspaces {
  margin-right: 20px;
}

#workspaces button {
  padding: 0 8px;
  color: @comment;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

#workspaces button.active {
  color: @green;
  border-bottom: 2px solid @green;
}

#workspaces button:hover {
  color: @cyan;
  background: inherit;
  border-bottom: 2px solid;
}

#clock {
  padding: 0 15px;
  color: @cyan;
}

#pulseaudio {
  padding: 0 10px;
  color: @orange;
}

#pulseaudio.muted {
  color: @comment;
}

#backlight {
  padding: 0 10px;
  color: @yellow;
}

#battery {
  padding: 0 10px;
  color: @green;
}

#battery.charging {
  color: @pink;
}

#battery.warning {
  color: @orange;
}

#battery.critical {
  color: @red;
}